.login-page {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    box-sizing: border-box;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.login-container {
    width: 30%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }

  .login-container .div {
    margin: 30px;
  }
  
  .title {
    padding-bottom: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  
  .subtitle {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    height: 48px;
    background-color: #3c3c3c;
    margin-bottom: 30px;
  }
  
  .icon {
    margin-right: 10px;
    color: #787878;
  }
  
  input {
    border: none;
    background: none;
    padding: 20px;
    width: 600px;
    color: #3c3c3c;
    cursor: pointer;
    font-size: 16px;
  }
  
  input::placeholder {
    color: #787878;
  }

  input:active{
    border: none;
  }

  input:focus{
    border: none;
    outline: 0;
  }
  
  .input-group .icon {
    margin-right: 10px;
    width:  18px;
   height: 18px;
  }

  .login-button {
    background-color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    color: #111111;
    width: 300px;
    height: 45px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 30px 0px 18px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  .login-button:hover {
    background-color: #3FE168;
    color: #ffffff;
  }
  
  .signup-text {
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  .signup-text a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signup-text a:hover {
    color: #3FE168;
  } 