.artistTracksPage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, 
        #17A6E4  0%,   
        #0C5676 39%,  
        #000000 81%
    );
    display: flex;
}

.tracksContainer
{
    border: 2px solid red;
    width: 80%;
    max-height: 30%;
    flex-direction: column;
    align-self: flex-end;
    overflow-y: scroll;
}