.playlist-container {
    display: flex;
    height: 100vh;
  }
  
/* .playlistPage {
    border: 2px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, 
        #17A6E4  0%,   
        #0C5676 39%,  
        #000000 81%
    );
}*/

